<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        UserProfile
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <table>
        <thead>
        <tr>
          <th>ID</th>
          <th>firstName</th>
          <th>lastName</th>
          <th>email</th>
          <th>phone</th>
          <th>ville</th>
          <th>role</th>
          <th>headline</th>
          <th>bio</th>
          <th>photoUrl</th>
          <th>location</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of usersDTO">
          <td>{{user.userId}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.email}}</td>
          <td>{{user.phone}}</td>
          <td>{{user.ville}}</td>
          <td>{{user.role}}</td>
          <td>{{user.headline}}</td>
          <td>{{user.bio}}</td>
          <td>{{user.photoUrl}}</td>
          <td>{{user.location}}</td>
        </tr>
        </tbody>
      </table>
    </mat-card-content>
  </mat-card>
</div>
